<router-outlet></router-outlet>

<footer class="text-center">
  <img class="img-fluid" src="../../../assets/logo-colour.png" width="250px" />
  <br />
  <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/onesecondoneshot" target="blank">
    <span class="fab fa-facebook-f"></span>
  </a>
  &nbsp; &nbsp; &nbsp;
  <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/jd_photography_1second_1shot/?hl=en" target="blank">
    <span class="fab fa-instagram"></span>
  </a>
  <br /><br />&copy; {{ currentDate | date: 'yyyy' }} Copyright: One Second One Shot. <i>Capturing your special moments since 2013.</i>
</footer>