<div class="bg">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light justify-content-center bg-transparent animate__animated animate__fadeInDown">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown"><img
        src="../../../assets/logo-black.png" width="12%">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/about">About</a></li>
        <li class="nav-item active"><a class="nav-link hover-underline-animation" href="FAQ">FAQ</a></li>
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/Prices_And_Packages">Prices &amp;
            Packages</a></li>
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="animate__animated animate__fadeInLeft">
      <h1 class="text-center">Frequently Asked Questions</h1>
    </div>
  </div>
</div><br>
<div class="container">
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-12 text-center">
      <p>FAQ's</p>
      <h2>A COLLECTION OF QUESTIONS</h2><br><i>Including tips, tricks and information.</i>
    </div>
  </div>
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>What is the style of your photography?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>We are story tellers, candid photography - wanting to cpature a moment.</p>
      <p>We firmly believe in documenting your day as it happens as opposed to posing everyone the whole day (of
        course we guide you guys, so no need to feel uncomfortable stressed out about it).</p>
    </div>
  </div>
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>Do you need accomodation for our wedding?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>If your wedding is more than 100km away, please allow for a AirBnB in your budget. After shooting the
        whole day on our feet we appreciate our couples allowing us to check in nearby at AirBnB.</p>
      <p>Just remember to discuss with us if your venue is more than 3 - 4 hours away from us. The accomodation
        time will depend on the travel time.</p>
      <p>Accomodation is R800 vis AirBnB and we book ourselves this includes a nights stay and breakfast, we
        found it doing it this way is the most affordable and easiest on you.</p>
    </div>
  </div>
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>What happens if you are ill and cannot be there on my day?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>While we hope that it will never have to come to it, we do have plans in place incase of unforeseen
        circumstances. We explain this in more detail in our contract but we have a network of fellow
        photographers to shoot with us or in place of us. You will of course get a say in who the stand in
        photographer is, as we know that you put a lot of thought into choosing us as your photographers.</p>
    </div>
  </div>
  <hr>

  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>Where are you based?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>We live in Centurion, nothing fancy, but a place to call home.</p>
    </div>
  </div>
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>Do you guys travel for weddings? How do I budget?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>That's an easy one. We most certainly do travel for weddings! We ask R7.50 per kilometer from our home
        in Centurion. We have our bags packed and ready to go!</p>
    </div>
  </div>
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>How long after our special day do we receive our photos?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>The editing process is just as important to us as capturing the moments on your wedding day!</p>
      <p>We invest a lot of time in this and ensures that your story is told the best way possible.</p>
      <p>Because of this waiting period is usually 8 - 12 weeks. But if we are finished with this before this
        with your story we will get images to you as fast as possibel.</p>
      <p><i>We pride ourselves in provind you the ....</i></p>
    </div>
  </div>
  <hr>
  <div class="row" data-aos="zoom-in">
    <div class="col-md-6 col-sm-12">
      <h5>Can we have the RAW photos?</h5>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>While we fully understand the question, this is a little like going to a restaurant and asking for a
        raw chicken. It isn’t the finished product. In the same manner, while we shoot in a raw format, we edit
        each image so that everything looks beautiful and cohesive when you receive your final edited
        photographs.</p>
    </div>
  </div>
  <hr>
</div>
