<div class="bg">

  <nav class="navbar navbar-expand-lg navbar-dark bg-ligh bg-transparent animate__animated animate__fadeInDown"><button
      class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown"><img
        src="../../../assets/logo-white.png" width="12%">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item"
              href="/Weddings">Weddings</a><a class="dropdown-item" href="/Engagment_And_Couples">Engagement &amp;
              Couple Sessions</a><a class="dropdown-item" href="/Details">It&apos;s In The Details</a><a
              class="dropdown-item" href="/Styled">Styled Sessions</a></div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/FAQ">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="/Prices_And_Packages">Prices &amp; Packages</a></li>
        <li class="nav-item active"><a class="nav-link" href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  <div class="h-75 d-flex justify-content-center align-items-center">
    <div class="animate__animated animate__fadeInLeft">
      <h1 class="text-center" style="color: white;">Contact</h1>
    </div>
  </div>

</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 border-right">
      <h3 class="text-center">Send Us A Note</h3>
      <hr>
      <p class="text-center">We can't wait to hear from you.</p>
      <p class="text-center">Let us capture your special memories!</p>
      <p class="text-center">We are usually very quick to respond to email messages. If you do not get a reply from us
        wihin 24
        hours,
        please call us on 076 168 2277 or send us a direct email message to onesecondoneshot@gmail.com.</p>
      <br>
      <!--<img class="img-fluid rounded" src="../../../assets/samples/sample_13.jpg">-->
    </div>
    <div class="col-md-6 col-12">
      <form>
        <div class="mb-3">
          <label for="nameSurname">Your name (required)</label>
          <input class="form-control" id="nameSurname" type="text">
        </div>
        <div class="mb-3">
          <label for="emailAddress">Your email (required)</label>
          <input class="form-control" id="emailAddress" type="email">
        </div>
        <!--<div class="mb-3">
          <label for="cellNumber">Cellphone Number:</label>
          <input class="form-control" id="cellNumber" type="cell">
        </div>-->
        <div class="mb-3">
          <label for="subject">Type of shoot</label>
          <input class="form-control" id="subject" type="text">
        </div>
        <div class="mb-3">
          <label for="subject">Date of shoot</label>
          <input class="form-control" id="subject" type="date">
        </div>
        <div class="mb-3">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="8"></textarea>
        </div>
        <button class="btn btn-color btn-block" type="submit" id="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
<br>