<div class="bg-about">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center bg-transparent animate__animated animate__fadeInDown"><button
      class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown"><img
        src="../../../assets/logo-black.png" width="12%">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/">Home</a></li>
        <li class="nav-item active"><a class="nav-link hover-underline-animation" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/FAQ">FAQ</a></li>
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/Prices_And_Packages">Prices &amp; Packages</a></li>
        <li class="nav-item"><a class="nav-link hover-underline-animation" href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="animate__animated animate__fadeInLeft">
      <h2 class="main-title text-center">About Me</h2>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12" data-aos="zoom-in">
      <h2> <b>About One Second One Shot</b></h2>
    </div>
    <div class="col-md-6 col-12" data-aos="zoom-in">
      <p>We are story tellers and something we always say is <b>One Second One Shot One Moment </b>
        this is what we live by making sure that we get that one shot, in that one specific moment you will always want
        to have around.
      </p>
      <p>We believe in documenting your day as it happens as opposed to posing everyone the whole day (yes we will guide
        you in a couple of posed photos but no need to feel uncomfortable).</p>
      <p>We can never stand still and love being busy, we always try to see things differently taking something ordinary
        and make it extraordinary. This shows in our work always finding the most creative and artistic way to show your
        day.</p>
    </div>
  </div>

  <hr>

  <div class="text-center">
    Featured On:<br>
    <img class="img-fluid" src="../../../assets/bg_wg.jpg" width="20%">
  </div>
</div>
